# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [ ]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_f√∂r_ai\kunskapskontroll_1\cars_data.csv')

r'C:\Users\Marilene Svedberg\Desktop\NBI_Python_Kurs\kunskapskontroll_2_pythongprogrammering\cars_data.csv'

Desktop/NBI_Python_Kurs/kunskapskontroll_2_pythonprogrammering/cars_data.csv?

In [18]:
import pandas as pd

cars = pd.read_csv("cars_data.csv")

# Display the first few rows of the data
print(cars.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

### Print the first 10 rows of the data.

In [20]:
# Display the first 10 rows of the data
print(cars.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [22]:
# Display the last 5 rows of the dataset
print(cars.tail(5))

    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [24]:
# Use the info() method to check the number of non-null values in each column
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [26]:
# Drop rows with any missing values (NaN) in any column, inplace
cars.dropna(inplace=True)

# Display the first few rows to confirm that rows with missing values are dropped
print(cars.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

### Calculate the mean of each numeric column.

In [52]:
import pandas as pd

#cars = pd.read_csv("cars_data.csv")

# Display the first few rows of the data
#print(cars.head())


# Calculate the mean of each numeric column

#mean_values = cars.mean()

# Display the mean values for each numeric column
#print(mean_values)

**Answer**
When I trying first to calculate the mean values for each numeric column, I got a error and this error occurs because
there are non-numeric columns in the dataset. The mean() methods expects numeric values (integers or floats) and the dataset contains columns with to example "string"
To resolve this, we need to exclude non-numeric columns when calculating the mean, as show the code below:

In [56]:
import pandas as pd
import numpy as np
# Calculate the mean of each numeric column, excluding non-numeric columns
mean_values = cars.select_dtypes(include=[np.number]).mean()

# Display the mean values for each numeric column
print(mean_values)

index                 40.885246
wheel-base            98.481967
length               173.098361
horsepower           107.852459
average-mileage       25.803279
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [58]:
import pandas as pd

# Load the data from the correct file path
cars = pd.read_csv("cars_data.csv")

# Select the rows where the 'company' column is equal to 'honda'
honda_data = cars[cars['company'] == 'honda']

# Display the filtered rows
print(honda_data.head())

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [61]:
import pandas as pd

# Load the data from the correct file path
cars = pd.read_csv("cars_data.csv")

# Sort the dataset by "price" in descending order (This is not a Inplace operation)
sorted_data = cars.sort_values(by = 'price', ascending = False)

# Display the first few rows of the sorted data
print(sorted_data.head())

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [67]:
import pandas as pd

# Load the data from the correct file path
cars = pd.read_csv("cars_data.csv")

# Select the rows where the company column is equal to audi, bmw or porsche
selected_companies = cars[cars['company'].isin(['audi', 'bmw', 'porsche']) ]

# Display the filtered rows of the data
print(selected_companies.head())

   index company body-style  wheel-base  length engine-type num-of-cylinders  \
3      3    audi      sedan        99.8   176.6         ohc             four
4      4    audi      sedan        99.4   176.6         ohc             five
5      5    audi      sedan        99.8   177.3         ohc             five
6      6    audi      wagon       105.8   192.7         ohc             five
7      9     bmw      sedan       101.2   176.8         ohc             four

   horsepower  average-mileage    price
3         102               24  13950.0
4         115               18  17450.0
5         110               19  15250.0
6         110               19  18920.0
7         101               23  16430.0

### Find the number of cars (rows) for each company.

In [69]:
import pandas as pd

# Load the data from the correct file path
cars = pd.read_csv("cars_data.csv")

# Find the numbers of cars (rows) for each company
company_counts = cars['company'].value_counts()

#Display the counts
print(company_counts)

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

### Find the maximum price for each company.

In [71]:
import pandas as pd

# Load the data from the correct file path
cars = pd.read_csv("cars_data.csv")

#Find the maximum price for each company
max_price_per_company = cars.groupby('company')['price'].max()

#Display the maximum price for each company
print(max_price_per_company)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64